/* Quick & Clean Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #3b413c;

  --clr-accent-200: #daf0ee;
  --clr-accent-300: #9db5b2;
  --clr-accent-400: #94d1be;
  --clr-accent-500: #edae49;

  --fs-h1: 2.75rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.3),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General Styles */

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.3;
  text-align: center;
}
section {
  padding: 5em 2em;
}
.container-inner {
  margin: 0 auto;
  width: 80vw;
}
img {
  width: 100%;
  display: block;
}
strong {
  font-weight: var(--fw-bold);
}
/* Component Classes */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--clr-accent-300);
  color: var(--clr-light);
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  transition: transform 200ms ease-in-out;
  text-decoration: none;
  border: none;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
}

/* Typography */
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
a {
  text-decoration: none;
  color: inherit;
}

.section__title {
  margin-bottom: 0.25em;
}
.section__subtitle {
  font-size: var(--fs-h3);
  margin-bottom: 0.25em;
}
span {
  color: var(--clr-accent-500);
}

/* Header */
header {
  border: 2px solid seagreen;
  padding: 1em;
}
.nav {
  width: 90vw;
  margin: 0 auto;
}
.nav__list {
  list-style-type: none;
  border: 2px solid skyblue;
  padding: 2em;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
}
.nav__list-item {
  font-size: var(--fs-h3);
  justify-content: space-between;
  font-family: var(--ff-secondary);
  padding: 0.5em;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}
.nav__list-item:focus,
.nav__list-item:hover {
  background-color: var(--clr-accent-400);
}

/* Intro */
.hero-content {
  border: 2px solid slateblue;
  padding: 1em;
  column-gap: 3em;
  justify-content: space-around;
}
.hero-box__img {
  border: 2px solid salmon;
  padding: 4em;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: var(--bs);
}
.hero-box__text {
  border: 2px solid slategray;
  padding: 1em;
  text-align: left;
  flex-direction: column;
}
.section__title--intro {
  max-width: 15ch;
}
.btn-connect {
  margin-block: 0.75em;
  margin-right: 0.5em;
  width: fit-content;
  align-self: flex-end;
  font-size: var(--fs-h3);
}
/* Section About */
.container-inner--about {
  flex-direction: row;
  border: 2px solid hotpink;
  justify-content: space-around;
}
/* todo: make a generic BOX style rule? */
.about-box,
.skills-box {
  flex-direction: column;
  align-items: center;
  border: 2px solid firebrick;
  width: 40%;
  padding-block: 2em;
  padding-inline: 1em;
}
.about-box--content {
  border: 2px solid skyblue;
  max-width: 40ch;
  padding: 1em 0.5em;
}

.about-box--title,
.skills-box--title {
  margin-bottom: 0.5em;
}
.btn--read-more,
.btn--hire-me {
  margin-top: 0.5em;
  font-size: var(--fs-h3);
}
.skills-table {
  grid-template-columns: repeat(3, 1fr);
}
.skills-box-small {
  flex-direction: column;
  font-size: var(--fs-h3);
  padding: 1em;
}
